body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#fade {
    display: none;
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
}

#modal {
    display: none;
    position: fixed;
    top: 90%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1002;
    text-align:center;
    overflow: hidden;
}

#results {
    font-size:1.25em;
    color:red
}